nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #FEA82F;
}

.Text {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}
.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

input[type="text"], button[type="submit"], textarea {
  font-size: 16px;
  padding: 10px;
  border: 1px solid #F6F5F5;
  border-radius: 4px;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

button[type="submit"] {
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #555;
}

textarea {
  height: 200px;
  background-color: #F6F5F5;
  outline:none;
}
.fa-github{
  font-size: 36px;
}
