@tailwind base;
@tailwind components;
@tailwind utilities;
body {
     /* Hide scrollbars */
    background-color: #FFC288;
  }

@media (max-width: 1080px) {
  .hide{
    display: none;
  }
  .codeInput{
    margin-top: 2em;
  }
  .textArea{
    padding-top: 5rem;
  }

}

@media (min-width: 395px) {

}