*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url("pic2.jpg");
    background-repeat: no-repeat;
    background-size:100vw 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100vh;
    position: relative;
    z-index: 2;
    
}
#container {
    color: rgba(255, 255, 255, 0.972);
    
}
.digit{
    font-size:150px;
    font-weight:bold;
}
.txt{
    font-size:40px;
    font-weight: bold;
}
#btn-container{
    text-align:center;
    margin-top:40px;
}
.btn{
    padding:10px 25px;
    font-size:16px;
    margin: 0 10px;
    color: white;
    border: 0;
    cursor: pointer;
}
#start{
    background-color:green;
    font-weight: bold;
}
#stop{
    background-color: blue;
    font-weight: bold;
}
#reset{
    background-color: red;
    font-weight: bold;
}
/* ---------------for making the page opaque--------------- */
.design::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:black;
    z-index: -1;
    top: 0;
    right: 0;
    left: 0;
    opacity: 0.5;
}
/* ---------------------making responsive website-------------------- */
/* for very small device */
@media screen and  (min-width: 200px) and (max-width:300px) { 
    .digit{
        font-size:35px;
        font-weight:bold;
    }
    .txt{
        font-size:14px;
        font-weight: bold;
    }
    #btn-container{
        text-align:center;
        margin-top:10px;
        display: flex;
        
    }
    
    
   
 }

 /* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 301px) and (max-width:400px) { 
    .digit{
        font-size:42px;
        font-weight:bold;
    }
    .txt{
        font-size:15px;
        font-weight: bold;
    }
    #btn-container{
        text-align:center;
        margin-top:40px;
        
    }
    
   
 }

 /* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 401px)and (max-width: 750px){ 
    .digit{
        font-size:50px;
        font-weight:bold;
    }
    .txt{
        font-size:20px;
        font-weight: bold;
    }
    

 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 751px)and (max-width: 900px) { 
    .digit{
        font-size:85px;
        font-weight:bold;
    }
    .txt{
        font-size:25px;
        font-weight: bold;
    }
    body{
        background-image: url("pic2.jpg");
        background-repeat: no-repeat;
        background-size:100vw 100vh;
        display: flex;
        justify-content:center;
        align-items: center;
        height: 100vh;
        position: relative;
        z-index: 2;
        
    }

 }

 /* Extra large devices */
@media (min-width: 901px)and (max-width:1000px) { 
    .digit{
        font-size:85px;
        font-weight:bold;
    }
    .txt{
        font-size:25px;
        font-weight: bold;
    }
    body{
        background-image: url("pic2.jpg");
        background-repeat: no-repeat;
        background-size:100vw 85vh;
        display: flex;
        justify-content:center;
        align-items: center;
        height: 100vh;
        position: relative;
        z-index: 2;
        
    }
    .design{
        padding: 10px 10px;
    }
 }
 /* For very large devices ie from 900px  */
 @media (min-width: 1001px)and (max-width:1300px) { 
    .digit{
        font-size:90px;
        font-weight:bold;
    }
    .txt{
        font-size:30px;
        font-weight: bold;
    }
    body{
        background-image: url("pic2.jpg");
        background-repeat: no-repeat;
        background-size:100vw 100vh;
        display: flex;
        justify-content:center;
        align-items: center;
        height: 100vh;
        position: relative;
        z-index: 2;
        
    }
 }
 