@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --mainColor: #89216b;
    --whiteColor: #ffffff;
    --titleColor: #555555;
    --labelColor: #333333;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(to right, #da4453, var(--mainColor));
    font-weight: 400;
    min-height: 100vh;
    display: grid;
    place-content: center;
    overflow: hidden;
}

.wrapper {
    position: relative;
    width: 35rem;
    height: 50rem;
}

@media(min-width:540px){
    .wrapper{
        width: 40rem;
    }
}

.wrapper .form-container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: var(--whiteColor);
    border-radius: .5rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
}

.wrapper .form-container form h2 {
    font-size: 3rem;
    text-align: center;
    text-transform: capitalize;
    color: var(--titleColor);
}

.wrapper .form-container form .form-group {
    position: relative;
    width: 32rem;
    margin: 3rem 0;
}

.wrapper .form-container form .form-group i,
.wrapper .form-container form .form-group label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.6rem;
    text-transform: capitalize;
    color: var(--labelColor);
    padding: 0 .5rem;
    pointer-events: none;
    transition: all .5s ease;
}

.wrapper .form-container form .form-group i {
    left: .5rem;
}

.wrapper .form-container form .form-group label {
    left: 2.5rem
}

.wrapper .form-container form .form-group input {
    width: 100%;
    height: 4rem;
    padding: 0 1rem;
    border-radius: .5rem;
    border: none;
    outline: none;
    border: .1rem solid var(--labelColor);
    font-size: 1.6rem;
    color: var(--labelColor);
    background: transparent;
}

form .form-group input:focus~label,
form .form-group input:valid~label,
form .form-group input:focus~i,
form .form-group input:valid~i {
    top: 0 !important;
    font-size: 1.2rem !important;
    background-color: var(--whiteColor);
}

.wrapper .form-container form .forgot-pass {
    margin: -1.5rem 0 1.5rem;
}

.wrapper .form-container form .forgot-pass a {
    color: var(--labelColor);
    text-decoration: none;
    font-size: 1.4rem;
    text-transform: capitalize;
    transform: all .5s ease;
}

.wrapper .form-container form .forgot-pass a:hover {
    color: var(--mainColor);
}

.wrapper .form-container form .btn {
    background: linear-gradient(to right, #da4453, var(--mainColor));
    color: var(--whiteColor);
    text-transform: capitalize;
    width: 100%;
    height: 4rem;
    font-size: 1.6rem;
    font-weight: 500;
    outline: none;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    box-shadow: 0 .2rem 1rem rgba(0, 0, 0, 0.4);
}

.wrapper .form-container form .link {
    text-align: center;
    font-size: 1.4rem;
    color: var(--labelColor);
    margin: 2.5rem 0;
}

.wrapper .form-container form .link a {
    text-transform: capitalize;
    color: var(--mainColor);
    text-decoration: none;
    font-weight: 600;
    transition: all .5s ease;
}

.wrapper .form-container form .link a:hover {
    color: #da4453;
}

.wrapper .sign-up {
    transform: rotate(7deg);
}

.wrapper.animated-signin .form-container.sign-in {
    animation: signin-flip 1s ease-in-out forwards;
}

@keyframes signin-flip {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-50rem) scale(1.1);
    }

    100% {
        transform: translateX(0) rotate(7deg) scale(1);
    }
}

.wrapper.animated-signin .form-container.sign-up {
    animation: rotatecard .7s ease-in-out forwards;
    animation-delay: .3s;
}

@keyframes rotatecard {
    0% {
        transform: rotate(7deg);
    }

    100% {
        transform: rotate(0);
        z-index: 1;
    }
}

.wrapper.animated-signup .form-container.sign-up {
    animation: signup-flip 1s ease-in-out forwards;
}

@keyframes signup-flip {
    0% {
        transform: translateX(0);
        z-index: 1;
    }

    50% {
        transform: translateX(50rem) scale(1.1);
    }

    100% {
        transform: translateX(0) rotate(7deg) scale(1);
    }
}

.wrapper.animated-signup .form-container.sign-in {
    transform: rotate(7deg);
    animation: rotatecard .7s ease-in-out forwards;
    animation-delay: .3s;
}

@keyframes rotatecard {
    0% {
        transform: rotate(7deg);
    }

    100% {
        transform: rotate(0);
        z-index: 1;
    }
}