* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	scroll-behavior: smooth;
	text-decoration: none;
	list-style: none;
}

:root {
	--h4-color: hsl(92, 52%, 36%);
	--main-color: #fff;
	--text-color: #000;
	--bg-color: rgb(249, 249, 248);
	--big-font: 2.5rem;
	--h6-font: 0.7rem;
	--padding: 10px 12px;
	--p-font: 1.2rem;
	--border-radius: 0.5rem;
	--small-font: 1.2rem;
	--border-radius-input: 0.3rem;
	--accent-color: 92, 52%, 36%;
}

body {
	color: var(--text-color);
	overflow-x: hidden;
	position: relative;
}

/********** Text   ***************/

.text {
	display: none;
}

.scramble-text {
	font-size: 2rem;
	text-align: center;
	max-width: 40rem;
	margin: 0 auto;
	color: #a4a4a4;
	position: relative;
}

.scramble-text::before {
	content: attr(data-before);
	word-break: break-all;
	opacity: 0.5;
	position: absolute;
}

.scramble-text::after {
	content: attr(data-after);
	word-break: break-all;
	opacity: 0.5;
	position: absolute;
}

.message {
	opacity: 1;
	transition: opacity 400ms ease;
	transition-delay: 1000ms;
}

/* .message.delay {
  opacity: 1;
} */

.wrapper-title {
	text-align: center;
	color: #d4d4d4;
	font-family: "Lora", cursive;
	font-size: 2rem;
}

.container {
	position: relative;
	max-width: 32rem;
	width: 90%;
	height: auto;
	box-sizing: border-box;
	padding: 70px 30px;
	margin: 2rem auto;
	box-shadow: 5px 5px 12px #d9d9d9, -5px -5px 12px #e7e7e7;
	/* box-shadow: -3px 0px 0px -30px rgba(255,255,255,0.75);
    -webkit-box-shadow: -3px 0px 0px -30px rgba(255,255,255,0.75);
    -moz-box-shadow: -3px 0px 0px -30px rgba(255,255,255,0.75); */
}

h4 {
	font-size: var(--big-font);
	text-align: center;
	color: var(--h4-color);
	margin-bottom: 20px;
	padding-bottom: 30px;
}

h6 {
	color: var(--h4-color);
	font-size: var(--h6-font);
	margin: 10px 0;
}

.textarea {
	width: 100%;
	background-color: var(--bg-color);
	font-size: var(--small-font);
	color: var(--text-color);
	border-radius: var(--border-radius-input);
	border: none;
	padding: var(--padding);
	resize: none;
	font-family: inherit;
	font-size: 14px;
	color: rgb(65, 64, 64);
	height: 8rem;
}
.textarea:focus {
	outline: 2px solid var(--h4-color);
}

input[type="text"] {
	padding: 0.625rem 0.375rem;
	width: 100%;
	height: 60px;
	background-color: var(--bg-color);
	font-size: var(--small-font);
	border-radius: var(--border-radius-input);
	border: none;
	font-family: inherit;
	font-size: 14px;

	color: rgb(65, 64, 64);
}
input[type="text"]:focus {
	outline: 2px solid var(--h4-color);
}

.btn {
	background-color: var(--h4-color);
	border-radius: var(--border-radius);
	color: var(--main-color);
	min-width: 100%;
	height: 60px;
	margin-top: 20px;
	font-size: var(--small-font);
	outline: none;
	border: none;
	cursor: pointer;
}
.btn:hover {
	transform: scale(0.99);
}

input::placeholder,
textarea::placeholder {
	font-size: 12px;
}

#redacted-content {
	display: none;
}

.hero {
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
}
.hero .copy {
	cursor: pointer;
}
.hero .copy:hover {
	text-decoration: underline;
}

.stat {
	width: 100%;
	gap: 20%;
	display: flex;
	justify-content: space-between;
	margin-top: 1rem;
}

.stat-img {
	width: 40%;
	height: auto;
	background: #ffffff;
	box-shadow: 0px 4px 12px rgba(181, 181, 181, 0.15);
	border-radius: 10px;
	text-align: center;
	padding: 20px;
}
.stat-img img {
	background: rgba(89, 139, 44, 0.2);
	border-radius: 10px;
	padding: 10px;
}
.stat-img small {
	color: #a4a4a4;
	font-size: 12px;
}
.buttons {
	display: flex;
	justify-content: space-between;
	margin: 1rem 0.5rem;
}
.buttons button {
	padding: 5px 10px;
	cursor: pointer;
	border: none;
	border-radius: 5px;
	background-color: var(--h4-color);
	color: var(--main-color);
}
.buttons button:hover {
	background-color: var(--main-color);
	color: var(--h4-color);
}
.buttons button:nth-child(1) {
	color: var(--h4-color);
	background-color: var(--main-color);
}
.buttons button:nth-child(1):hover {
	color: var(--main-color);
	background-color: var(--h4-color);
}
.share {
	text-align: right;
	margin: 3rem;
}
.share i {
	color: var(--h4-color);
	cursor: pointer;
	font-size: 18px;
	margin-right: 0.3rem;
}

.copied {
	display: none;
	position: absolute;
	top: 18%;
	left: 30%;
	background: #fff;
	padding: 10px;
	border-radius: 50%;
	border-radius: 150px;
	background: #ffffff;
	z-index: 99;
	box-shadow: 5px 5px 20px #d4d4d4, -5px -5px 20px #ffffff;
}

footer {
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: -2rem;
}

footer a {
	text-decoration: none;
	color: hsl(var(--accent-color));
	transition: all 400ms ease-in;
}

footer a:hover {
	color: darkgreen;
}

@media (max-width: 450px) {
	.container {
		padding: 2rem 12px;
	}

	.stat-img small {
		font-size: 10px;
	}
}

@media (min-width: 50.6875rem) {
	body::before {
		content: "";
		position: absolute;
		height: 2000px;
		width: 2000px;
		border-radius: 50%;
		top: -20%;
		right: 48%;
		transform: translateY(-50%);
		background-image: linear-gradient(
			-45deg,
			hsla(var(--accent-color), 0.8) 0%,
			hsl(var(--accent-color)) 100%
		);
	}

	.altLogo {
		color: #fff;
	}

	.altLogo span {
		background-color: #fff;
	}

	.wrapper {
		display: flex;
		align-items: flex-start;
	}

	.wrapper-title {
		display: none;
	}

	.text {
		display: flex;
		flex-basis: 50%;
		margin-top: 12rem;
		z-index: 1;
	}

	.text > img {
		width: 12rem;
	}

	.scramble-text {
		color: #fff;
		font-family: "Lora", cursive;
	}

	.message {
		flex-basis: 50%;
		display: flex;
		justify-content: flex-end;
		padding-right: 5rem;
	}

	.container {
		margin-inline: 0;
	}

	input::placeholder,
	textarea::placeholder {
		font-size: 14px;
	}

	input[type="text"] {
		padding-inline: 1rem;
	}
}
